@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins&display=swap');


* {
    margin: 0;
    padding: 0;
}

/* Header */

.background {
    width: 100%;
    height: 700px;
    background-image: url(./Asset/pricingimg/pricingheroimg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.gridlayout {
    width: 90%;
    margin: auto;
}
.gridlayout1{
  width: 70%;
  margin: auto;
}
.tittle {
    display: flex;
    justify-content: space-between;
}

.tittle img {
    margin-top: 30px;
}

.menu {
    
    list-style-type: none;
    display: flex;
    margin-top: 30px;
    margin-left: 150px;

}

.menu li {
    padding: 30px;
}


.menu a {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-decoration: none;
 }

 .color{
  color: #E6353B !important;
 }

.hero {
    margin-top: 100px;
    display: flex;
    gap: 80px;
}

.hero img {
    margin-top: 50px;
}
.simg {
  position: relative;
  top: 200px;}

.words {
  margin: auto;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.words h5 {
    font-weight: 100;
    letter-spacing: 3px;
    font-size: 24px;
    text-align: center;
}

.words h2 {
    font-size: 60px;
    line-height: 80px;
    text-align: center;
}

/* pricing table */


.Pheading{
    font-family: 'Poppins', sans-serif;
    text-align: center;
margin-top: 50px;
   
}
.Pheading h3{
    color: #E6353B;
    letter-spacing: 1px;
    font-weight: 600;
    

}


.pricing{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
  }
  
  .pcadr1{
  
    width: 250px;
    height: 455px;
    background-color: white;
    border: solid 1px;
    border-radius: 2px;
  }
  .pcadr1 h4{
    font-family: 'Poppins', sans-serif;
    color: white;
    position: relative;
    top: -130px;
    left: 10px;
    letter-spacing: 1px;
  }
  .pcircle1{
    width: 70px;
    height: 70px;
    background-color: #E6353B;
    border-radius: 50px;
    position: relative;
    top: -70px;
    left: 80px;
  }
  .pcircle1 h4{
    font-family: 'Poppins', sans-serif;
    color: white;
    position: relative;
    top: 25px;
    left: 15px;
  }
  
  .pricestyle1{
    font-family: 'Poppins', sans-serif;
    line-height: 40px;
    position: relative;
    top: -50px;
    left: 60px;
    
  }
  .pbtn1{
    width: 250px;
    height: 40px;
  background-color: #E6353B;
  color: white;
  position: relative;
  top: -31px;
  }
  .pbtn1 h3 {
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: 6px;
    left: 65px;
  }
  
  
  /*  */
  
  .pcadr2{
  
    width: 250px;
    height: 455px;
    background-color: white;
    border: solid 1px;
    border-radius: 2px;
  }
  .pcadr2 h4{
    font-family: 'Poppins', sans-serif;
    color: white;
    position: relative;
    top: -130px;
    left: 10px;
    letter-spacing: 1px;
  }
  .pcircle2{
    width: 70px;
    height: 70px;
    background-color: #E6353B;
    border-radius: 50px;
    position: relative;
    top: -70px;
    left: 80px;
  }
  .pcircle2 h4{
    font-family: 'Poppins', sans-serif;
    color: white;
    position: relative;
    top: 25px;
    left: 15px;
  }
  
  .pricestyle2{
    font-family: 'Poppins', sans-serif;
    line-height: 40px;
    position: relative;
    top: -50px;
    left: 60px;
    
  }
  .pbtn2{
    width: 250px;
    height: 40px;
  background-color: #E6353B;
  color: white;
  position: relative;
  top: -31px;
  }
  .pbtn2 h3 {
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: 6px;
    left: 65px;
  }
  /*  */
  
  .pcadr3{
  
    width: 250px;
    height: 455px;
    background-color: white;
    border: solid 1px;
    border-radius: 2px;
  }
  .pcadr3 h4{
    font-family: 'Poppins', sans-serif;
    color: white;
    position: relative;
    top: -130px;
    left: 10px;
    letter-spacing: 1px;
  }
  .pcircle3{
    width: 70px;
    height: 70px;
    background-color: #E6353B;
    border-radius: 50px;
    position: relative;
    top: -70px;
    left: 80px;
  }
  .pcircle3 h4{
    font-family: 'Poppins', sans-serif;
    color: white;
    position: relative;
    top: 25px;
    left: 15px;
  }
  
  .pricestyle3{
    font-family: 'Poppins', sans-serif;
    line-height: 40px;
    position: relative;
    top: -50px;
    left: 60px;
    
  }
  .pbtn3{
    width: 250px;
    height: 40px;
  background-color: #E6353B;
  color: white;
  position: relative;
  top: -31px;
  }
  .pbtn3 h3 {
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: 6px;
    left: 65px;
  }

  /*  */
  .Ppricing {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
  }

  .pcadr4{
  
    width: 250px;
    height: 455px;
    background-color: white;
    border: solid 1px;
    border-radius: 2px;
  }
  .pcadr4 h4{
    font-family: 'Poppins', sans-serif;
    color: white;
    position: relative;
    top: -130px;
    left: 10px;
    letter-spacing: 1px;
  }
  .pcircle4{
    width: 70px;
    height: 70px;
    background-color: #E6353B;
    border-radius: 50px;
    position: relative;
    top: -70px;
    left: 80px;
  }
  .pcircle4 h4{
    font-family: 'Poppins', sans-serif;
    color: white;
    position: relative;
    top: 25px;
    left: 15px;
  }
  
  .pricestyle4{
    font-family: 'Poppins', sans-serif;
    line-height: 40px;
    position: relative;
    top: -50px;
    left: 60px;
    
  }
  .pbtn4{
    width: 250px;
    height: 40px;
  background-color: #E6353B;
  color: white;
  position: relative;
  top: -31px;
  }
  .pbtn4 h3 {
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: 6px;
    left: 65px;
  }

  /*  */

  .pcadr5{
  
    width: 250px;
    height: 455px;
    background-color: white;
    border: solid 1px;
    border-radius: 2px;
  }
  .pcadr5 h4{
    font-family: 'Poppins', sans-serif;
    color: white;
    position: relative;
    top: -130px;
    left: 10px;
    letter-spacing: 1px;
  }
  .pcircle5{
    width: 70px;
    height: 70px;
    background-color: #E6353B;
    border-radius: 50px;
    position: relative;
    top: -70px;
    left: 80px;
  }
  .pcircle5 h4{
    font-family: 'Poppins', sans-serif;
    color: white;
    position: relative;
    top: 25px;
    left: 15px;
  }

  .pricestyle5{
    font-family: 'Poppins', sans-serif;
    line-height: 40px;
    position: relative;
    top: -50px;
    left: 60px;
    
  }
  .pbtn5{
    width: 250px;
    height: 40px;
  background-color: #E6353B;
  color: white;
  position: relative;
  top: -31px;
  }
  .pbtn5 h3 {
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: 6px;
    left: 65px;
  }

  /*  */

  .pcadr6{
  
    width: 250px;
    height: 455px;
    background-color: white;
    border: solid 1px;
    border-radius: 2px;
  }
  .pcadr6 h4{
    font-family: 'Poppins', sans-serif;
    color: white;
    position: relative;
    top: -130px;
    left: 10px;
    letter-spacing: 1px;
  }
  .pcircle6{
    width: 70px;
    height: 70px;
    background-color: #E6353B;
    border-radius: 50px;
    position: relative;
    top: -70px;
    left: 80px;
  }
  .pcircle6 h4{
    font-family: 'Poppins', sans-serif;
    color: white;
    position: relative;
    top: 25px;
    left: 15px;
  }
  
  .pricestyle6{
    font-family: 'Poppins', sans-serif;
    line-height: 40px;
    position: relative;
    top: -50px;
    left: 60px;
    
  }
  .pbtn6{
    width: 250px;
    height: 40px;
  background-color: #E6353B;
  color: white;
  position: relative;
  top: -31px;
  }
  .pbtn6 h3 {
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: 6px;
    left: 65px;
  }

  /* blog */

  .Lheading{
    font-family: 'Poppins', sans-serif;
    text-align: center;
margin-top: 50px;
margin-bottom: 20px;
   
}
.Lheading h3{
    color: #E6353B;
    letter-spacing: 1px;
    font-weight: 600;
    

}


.mainbog1{
  display: flex;
  gap: 100px;
  justify-content:space-evenly;
  margin-top: 40px;

}
.blog1{
  width: 300px;
  height: 380px;
  background-color: white;
  border: solid 1px;
  margin-bottom: 50px;
}
.blog1 h5{
  font-family: 'Poppins', sans-serif;
  color: #E6353B;
  margin-top: 10px;
  margin-left: 10px;
}
.blog1 h3{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 10px;
}
.blog1 p{
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  margin-top: 10px;
  margin-left: 10px;
}
/*  */

.blog2{
  width: 300px;
  height: 380px;
  background-color: white;
  border: solid 1px;
  margin-bottom: 50px;
}
.blog2 h5{
  font-family: 'Poppins', sans-serif;
  color: #E6353B;
  margin-top: 10px;
  margin-left: 10px;
}
.blog2 h3{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 10px;
}
.blog2 p{
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  margin-top: 10px;
  margin-left: 10px;
}

/*  */

.blog3{
  width: 300px;
  height: 380px;
  background-color: white;
  border: solid 1px;
  margin-bottom: 50px;
}
.blog3 h5{
  font-family: 'Poppins', sans-serif;
  color: #E6353B;
  margin-top: 10px;
  margin-left: 10px;
}
.blog3 h3{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 10px;
}
.blog3 p{
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  margin-top: 10px;
  margin-left: 10px;
}

/*  */


.mainbog2{
  display: flex;
  gap: 100px;
  justify-content:space-evenly;
  margin-top: 40px;
}
.blog4{
  width: 300px;
  height: 380px;
  background-color: white;
  border: solid 1px;
  margin-bottom: 50px;
}
.blog4 h5{
  font-family: 'Poppins', sans-serif;
  color: #E6353B;
  margin-top: 10px;
  margin-left: 10px;
}
.blog4 h3{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 10px;
}
.blog4 p{
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  margin-top: 10px;
  margin-left: 10px;
}
/*  */

.blog5{
  width: 300px;
  height: 380px;
  background-color: white;
  border: solid 1px;
  margin-bottom: 50px;
}
.blog5 h5{
  font-family: 'Poppins', sans-serif;
  color: #E6353B;
  margin-top: 10px;
  margin-left: 10px;
}
.blog5 h3{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 10px;
}
.blog5 p{
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  margin-top: 10px;
  margin-left: 10px;
}

/*  */

.blog6{
  width: 300px;
  height: 380px;
  background-color: white;
  border: solid 1px;
  margin-bottom: 50px;
}
.blog6 h5{
  font-family: 'Poppins', sans-serif;
  color: #E6353B;
  margin-top: 10px;
  margin-left: 10px;
}
.blog6 h3{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 10px;
}
.blog6 p{
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  margin-top: 10px;
  margin-left: 10px;
}

/*  */




.mainbog3{
  display: flex;
  gap: 100px;
  justify-content:space-evenly;
  margin-top: 40px;
}


.blog7{
  width: 300px;
  height: 380px;
  background-color: white;
  border: solid 1px;
  margin-bottom: 50px;
}
.blog7 h5{
  font-family: 'Poppins', sans-serif;
  color: #E6353B;
  margin-top: 10px;
  margin-left: 10px;
}
.blog7 h3{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 10px;
}
.blog7 p{
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  margin-top: 10px;
  margin-left: 10px;
}

/*  */

.blog8{
  width: 300px;
  height: 380px;
  background-color: white;
  border: solid 1px;
  margin-bottom: 50px;
}
.blog8 h5{
  font-family: 'Poppins', sans-serif;
  color: #E6353B;
  margin-top: 10px;
  margin-left: 10px;
}
.blog8 h3{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 10px;
}
.blog8 p{
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  margin-top: 10px;
  margin-left: 10px;
}

/*  */

.blog9{
  width: 300px;
  height: 380px;
  background-color: white;
  border: solid 1px;
  margin-bottom: 50px;
}
.blog9 h5{
  font-family: 'Poppins', sans-serif;
  color: #E6353B;
  margin-top: 10px;
  margin-left: 10px;
}
.blog9 h3{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 10px;
}
.blog9 p{
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  margin-top: 10px;
  margin-left: 10px;
}



/* contact */

.contact{
  width: 100%;
  height: 600px;
  background-image: url(./Asset/img/contactbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
}

.cheading{
  font-family: 'Poppins', sans-serif;
  color: white;
  margin-top: 50px;
  
}
.cheading h3{
  color: #E6353B;
  letter-spacing: 3px;
  font-weight: 300;
}
.cheading h2 {
  
  width: 300px;
  margin-top: 20px;
}

.direction{

  display: flex;
  flex-direction: column;
  justify-content: end;
  float: right;
}
 



.t1 ,.n1 {
  margin-top: 20px;
  padding: 10px 50px;
  border-style: none;
  border-radius: 5px;
 background-color: white;
}
.e1{
  margin-top: 20px;
  padding: 10px 50px;
  border-radius: 5px;
  border-style: none;
  }
  .m1{
    margin-top: 20px;
  padding: 30px 50px;
  border-radius: 5px;
  border-style: none;
  }
  .sendbtn{
padding: 10px 80px;
background-color: #E6353B;
color: white;
margin-top: 20px;

border-style: none;
border-radius: 5px;

  }



  /* footer */

  .footerbg{
    width: 100%;
    height: 400px;
    background-image: url(./Asset/img/frtbgimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
     }
  
  .ftlogo {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: white;
    width: 250px;
    margin-left: 50px;
    margin-top: 50px;
  }
  .oneimg {
  margin-top: 50px;
  
  }
  .ftlogo p {
    margin-top: 30px;
  }
  .twoimg{
  margin-top: 20px;  
  }
  
  .opeinghrs, .quicklinks, .contactus{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: white;
    margin-top: 100px;
  }
    
  .oph h5{
    position: relative;
    top: 10px;
  }
  .oph p {
    font-size: 12px;
    opacity: 50%;
    padding: 5px 0px;
    position: relative;
    top: 20px;
  }
  
  .ophh h5 {
    position: relative;
    top: 30px;
  }
  .ophh p {
    font-size: 12px;
    opacity: 50%;
    padding: 5px 0px;
    position: relative;
    top: 35px;
  }
  
  .quicklinks p{
  
    font-size: 12px;
    opacity: 50%;
    padding: 5px 0px;
    position: relative;
    top: 5px;
  }
  
  .cot h5{
   position: relative;
    top: 10px;
  }
  .cot p {
    font-size: 12px;
    opacity: 50%;
    padding: 5px 0px;
    position: relative;
    top: 10px;
  }
  
  .cott h5{
    position: relative;
    top: 10px;
  }
  .cott p {
    font-size: 10px;
    opacity: 50%;
    padding: 5px 0px;
    position: relative;
    top: 10px;
  }
    

  @media screen and (max-width: 450px){


    .tittle , .hero, .cadrbackground, .oscardmain1, .oscardmain1, .pricing, .teamimgs, .inputfield, .mainbog1, .mainbog2, .footerbg, .oscardmain2,.mainbog3,.Ppricing {
      display: block;
    }
    .aboutbg{
    display: none;
   }
   .footerbg{
    width: 100%;
    height: 900px;
   }
   .opeinghrs , .quicklinks, .contactus{
    margin-left: 50px;
    margin-top: 50px;
   }
   .mainbog1 , .mainbog2,.mainbog3{
    margin-left: 40px;
   }
   
   .cheading{
   
    position: relative;
    left: 0px;
   }
   .textfield{
    
    margin-left: 0px;
    position: relative;
    top: 100px;
   }
  
   .tmg2, .tmg3{
    display: none;
   }
   .tmg1{
    margin-left: 40px;
   }
   .background{
    height: 250px;
   }
   .tittle img{
    width: 100px;
   }
   .menu li{
    padding: 0px;
   }

   .pcadr1, .pcadr2,.pcadr3,.pcadr4,.pcadr5,.pcadr6{
    margin-top: 30px;
    margin-left: 50px;
   }
   .menu{
    margin-top: -30px;
    margin-left: 60px;
   }
   .menu a{
    font-size: 12px;
   }
  }